* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.heading_1 {
  @apply text-white font-bellefair text-[150px] uppercase;
}

.heading_2 {
  @apply text-white font-bellefair text-[100px] uppercase;
}

.heading_3 {
  @apply text-white font-bellefair text-[56px] uppercase;
}

.heading_4 {
  @apply text-white font-bellefair text-[32px] uppercase;
}

.heading_5 {
  @apply text-DOD font-barlowCondensed text-[28px] tracking-[4.725px];
}

.subheading_1 {
  @apply text-white font-bellefair text-[28px] uppercase;
}

.subheading_2 {
  @apply text-white font-barlowCondensed text-[14px] tracking-[2.362px] uppercase;
}

.nav_text {
  @apply text-white font-barlowCondensed text-[16px] tracking-[2.7px];
}

.body_text {
  @apply text-white font-barlow text-[18px] leading-[32px];
}

body {
  cursor: url("./assets/icons/Pointer\ Copy\ 26.png"), auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }
  hr {
    width: 500px;
    border: 1px solid #fff;
    opacity: 0.2515;
    position: absolute;
    top: 50%;
    left: 112px;
    transform: translateY(-50%);
    z-index: 1;
  }
  nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    padding: 0 220px 0 200px;
    position: relative;
    top: 0;
    left: calc((100vw - 1536px)/2);
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 11px;
      text-transform: uppercase;
      height: 96px;
      transition: all 0.3s;
      border-bottom: 3px solid transparent;
      span {
        font-weight: 700;
      }
      &.active {
        border-bottom: 3px solid white;
      }
      &:not(.active):hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5021);
      }
    }
  }
}
